<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.persistence.PostMapper">
    <select id="listPost" parameterType="int" resultType="post">
    	SELECT POST_NO, TITLE, SID,  POSTINGDATE, CONTENT, AVAILABLE FROM post WHERE AVAILABLE = 1 ORDER BY POST_NO DESC LIMIT 10 OFFSET #{offset}
    </select>
    
    <select id="selectPost" parameterType="post"  resultType="post">
    	SELECT POST_NO,TITLE, SID, POSTINGDATE, CONTENT, AVAILABLE FROM post WHERE AVAILABLE = 1 AND POST_NO = #{postNo}
    </select>
    
    <delete id="deletePost" parameterType="post" >
    	DELETE FROM post WHERE POST_NO = #{postNo}
    </delete>
    
    <update id="updatePost" parameterType="post" >
    	UPDATE post SET TITLE = #{title} , CONTENT = #{content}  WHERE POST_NO = #{postNo}
    </update>
    
    <insert id="insertPost" parameterType="post" >
    	insert into post(POST_NO,TITLE,SID,POSTINGDATE,CONTENT,AVAILABLE)  VALUES(#{postNo}, #{title}, #{sid}, SYSDATE(), #{content}, 1)
    </insert>
    
    <select id="selectMaxPostNo" resultType="int">
    	SELECT MAX(POST_NO)  + 1  AS POST_NO FROM post
    </select>
</mapper>
