<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.persistence.StudentMapper">

	<select id="selectStudent" parameterType="student" resultType="student">
		SELECT * FROM student WHERE SID = #{sid}
	</select>
	
    <select id="login" parameterType="student" resultType="student">
    	SELECT * FROM student WHERE SID = #{sid} AND PASSWORD = #{password}
    </select>
    
    <insert id="register" parameterType="student" >
    	INSERT INTO student(SID,NAME,PASSWORD,GRADE,SUBJECT,MANAGER) VAlUES(#{sid}, #{name}, #{password}, #{grade}, #{subject}, 0)
    </insert>
    
    
</mapper>
